/*
 * Placeholders
 */

roboto()
	font-family 'Roboto', sans-serif

placeholder(c)
	&::-webkit-input-placeholder
		color c
	&::-moz-placeholder
		color c
	&:-ms-input-placeholder
		color c
	&:-moz-placeholder
		color c
