/*
 * Colors
 * ---------------------------------------
 */

// Colors brands
st-brand = #CFBE6A
st-highlight = lighten(st-brand, 15%)
st-shadow = darken(st-brand, 50%)

// Colors pallete
color-red = #D9464D
color-blue = #2196f3
color-green = #008F5B
color-white = white
color-black = black
