/*
 * Colors
 * ---------------------------------------
 */

// Colors brands
st-brand = #4b637b
st-highlight = lighten(st-brand, 15%)
st-shadow = darken(st-brand, 50%)

nd-brand = #dcdcdc
nd-highlight = lighten(nd-brand, 15%)
nd-shadow = darken(nd-brand, 15%)

color-text = #555

// Colors pallete
color-red = #D9464D
color-blue = #2196f3
color-green = #008F5B
color-white = white
color-black = black

// Colors system
colors = {
  label: st-brand
  label-radio: color-text
  input: st-brand
  error: color-red
  focus: darken(color-blue, 15%)
  ok: color-green
  arrow-select: st-brand
  form-title: darken(st-brand, 50%)
}

btn-colors = {
  st-brand: st-brand
  nd-brand: nd-brand
  red: color-red
  blue: color-blue
  green: color-green
}

/*
 * Sizes
 * ---------------------------------------
 */

// Boxes
wrapper = 768px

// Fonts
base-font-size = 16px
base-line-height =  1.5
