:root
	--color-title color-white

html
body
	height 100%

html
	roboto()

body
	color nd-brand
	background-color green
	+below('l')
		background-color green

.box__title
	color var(--color-title)
	padding 20px
	font-size 2em
